/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.h1 {
    text-align: center;
}
.h2{
    text-align: center;
}
.box {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    outline: 10px solid pink;
    margin: 0 auto;
}
.container {
    padding: 15px;
}
.a {
    text-align: center;
}
.inner-box {
    height: 100%;
    width: 100%;
    border: 10px solid rgb(212, 161, 251);
    box-sizing: border-box;
    background-color: rgb(191, 234, 231);
}
.container2{
    text-align: center;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: rgb(191, 234, 231); 
    border-radius: 10px;
    margin: 0 auto;
}
.h2 {
    text-align: center;
}
.paragraph{
    text-align: center;
}
.horizontal {
    width:1px ;
    text-align: center;
}
.box2 {
    width: 32%;
    height: 100px;
    background-color:  rgb(163, 162, 162);
    display: inline-block;

}
.container3 {
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
}
.container4 {
    width: 600px;
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
}
.box3 {
    width: 30%;
    height: 40%;
    background-color: rgb(160, 152, 152);
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
}
.h4 {
    text-align: center;
}
.h5 {
    text-align: center;
}
.container5 {
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
}
.box4 {
    width: 32%;
    height: 100px;
    background-color: rgb(168, 164, 164);
    display: inline-block;
    border: 1px solid black;
}


